extends templates/layout

block content
  p This website is a project created for the graduate course Digital Humanities at Syracuse University in the spring of 2019. The goal was to create a version of this taxonomy that is more easily navigable and accessible for all users. It does not claim any ownership of the materials originally created by the team who developed TaDiRAH, but serves to expand on the tool in order to make it more user-friendly.
