doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
      div(class='MainContainer')
        div(class='HomeNavContainer')
            a(class='home-navigation' href='/research-activities') Activities
            a(class='home-navigation' href='/research-objects') Objects
            a(class='home-navigation' href='/research-techniques') Techniques
        div(class='ParallaxContainer')
          div(class='title-text')
            h1=title
            title= title
        div(class='home-content')
          h2 What is TaDiRAH?
          p(class="main-content") TaDiRAH stands for Taxonomy of Digital Research Activities in the Humanities.
          p(class=".main-content") This taxonomy of digital research activities in the humanities has been developed for use by community-driven sites and projects that aim to structure information relevant to digital humanities and make it more easily discoverable. The taxonomy is expected to be particularly useful to endeavors aiming to collect information on digital humanities tools, methods, projects, or readings.

          h2 How to Use
          p(class="main-content") TaDiRAH is intended to provide a unified set of vocabulary terms, tools, and methods for digital humanities practitoners, including both those new to the concepts and those already well-established within the field. Researchers and students can use this tool to help brainstorm the best method to create or showcase a project, the tools available for DH work, and ways of putting those tools into practice.

          p(class="main-content") You can explore #[a(href='/research-activities')  Research Activities], #[a(href='/research-objects')  Research Objects], and #[a(href='/research-techniques')  Research Techniques].
          br

          h3(class='home') Questions about TaDiRAH?
          p(class="main-content") We are happy to answer any questions you have about using this taxonomy. Feel free to explore our documentation #[a(href='https://github.com/dhtaxonomy/TaDiRAH') on Github], where we also have German, Spanish, and French translations of TaDiRAH.
          br
          a(href="http://tadirah.dariah.eu/vocab/index.php") Feel free to check out the original version of TaDiRAH!
          br
          p Also, be sure to check out the #[a(href='/resources') page of resources] used in the development of this website for more information.
