extends templates/layout

block content
  h3 General
  br
  button(class='collapsible') Encoding
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td to convert into a coded form (Google)
        td #[a(href="https://cdrh.unl.edu/articles/basicguide") Basic Guide to Text Encoding]
  br
  button(class='collapsible') Mapping
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td Concept mapping creates a visual representation of the relationships among a set of targeted topics. The goal of concept mapping is to create an actual map where the concepts are represented as nodes and the relationships between them are represented as lines that link those nodes. In addition, the links are often labeled with descriptions of the relationships between the concepts they join (The SAGE Encyclopedia of Qualitative Research Methods)
        td #[a(href="https://www.youtube.com/watch?v=sZJj6DwCqSU") How to Create a Concept Map (video)]
    br
  button(class='collapsible') Photography
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td the art or practice of taking and processing photographs (Google)
        td #[a(href="https://brbl-dl.library.yale.edu/vufind/") Beinecke Digital Collections]
  br
  button(class='collapsible') Scanning
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td a function that digitizes printed documents and pictures and sends the files to your computer or outputs a duplicate copy of the items via the printer (AZ Central)
        td #[a(href="https://digitalhumanities.berkeley.edu/resources/digitization-workflows-scanning-ocr-and-audio-transcription") Digitization Workflows: Scanning, OCR, and Audio Transcription]
  br
  button(class='collapsible') Searching
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td thoroughly scrutinizing, especially in a disconcerting way (Google)
        td #[a(href="https://acrl.libguides.com/framework/toolkit") ACRL Framework for Information Literacy Toolkit]
  br
  button(class='collapsible') Brainstorming
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td A method of problem solving that involves getting together a group of five to ten persons to consider a problem. The participants are to suggest whatever idea pops into their heads, no matter how weird, in the hope that a creative solution will be found (Dictionary of Statistics & Methodology)
        td #[a(href="https://sites.tufts.edu/digitalhumanities/brainstorming-your-project/") Brainstorming Your Project – DH at Tufts]
  br
  button(class='collapsible') Browsing
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td Browsing is the act of looking through a set of information quickly, without a specific sense of purpose. In the context of the internet, it usually refers to using the world wide web. The term may imply a sense of aimlessness, with the user just wasting time on the internet (Technopedia)
        td #[a(href="http://journalofdigitalhumanities.org/1-1/getting-started-in-digital-humanities-by-lisa-spiro/") Getting Started in Digital Humanities]
  br
  button(class='collapsible') Debugging
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td the process of identifying and removing errors from computer hardware or software (Google)
        td #[a(href="http://www.digitalhumanities.org/dhq/vol/3/2/000037/000037.html") Basic Guide to Text Encoding]
        td #[a(href="http://journalofdigitalhumanities.org/1-1/getting-started-in-digital-humanities-by-lisa-spiro/") Getting Started in Digital Humanities]


  h3 Methods of Dissemination
  button(class='collapsible') Gamification
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td the application of typical elements of game playing (e.g. point scoring, competition with others, rules of play) to other areas of activity, typically as an online marketing technique to encourage engagement with a product or service (Google)
        td #[a(href="https://read.dukeupress.edu/differences/article-abstract/25/1/189/60702/Gaming-the-Humanities") Gaming the Humanities]
  br
  button(class='collapsible') Crowdsourcing
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td the practice of obtaining information or input into a task or project by enlisting the services of a large number of people, either paid or unpaid, typically via the Internet (Google)
        td #[a(href="https://mw2013.museumsandtheweb.com/paper/digital-humanities-and-crowdsourcing-an-exploration-4/") Digital Humanities and Crowdsourcing: An Exploration]
  br
  button(class='collapsible') Publishing Linked Open Data
  div(class='technique-table')
    table
      tr
        th Definition
        th Examples
      tr
        td Linked Data lies at the heart of what Semantic Web is all about: large scale integration of, and reasoning on, data on the Web.  (W3.org)
        td #[a(href="https://wiki.dbpedia.org/") DBPedia]

  h3 Would be enriched if annotated
  ul
    li Georeferencing
    li Linked Open Data
    li Named Entity Recognition
  h3 Analysis (Structural, Stylistic, and/or Content)
  ul
    li Information Retrieval
    li Machine Learning
    li Named Entity Recognition
    li POS-Tagging
    li Principal Component Analysis
    li Sentiment Analysis
    li Sequence Alignment
    li Cluster Analysis
    li Collocation Analysis
    li Concordancing
    li Distance Measures
  h3 Storage & Preservation
  ul
    li Migration
    li Preservation Metadata
    li Technology Preservation
    li Versioning
    li Bit Stream Preservation
    li Emulation
    li Open Archival Information Systems
    li Replication
    li Durable Persistent Media


  include templates/navigation.pug
  script(src="./javascripts/collapsible.js")
