extends templates/layout

block content
  p To view content, click (or press tab, then enter) to expand each box. Expandable content is marked with this icon ▼
  h3 General
  button(class='collapsible') Encoding ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td Encoding is the process of converting data from one form to another. While "encoding" can be used as a verb, it is often used as a noun, and refers to a specific type of encoded data. There are several types of encoding, including image encoding, audio and video encoding, and character encoding (TechTerms.com)
        td #[a(href="https://cdrh.unl.edu/articles/basicguide") Basic Guide to Text Encoding]
  br
  button(class='collapsible') Mapping ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td Concept mapping creates a visual representation of the relationships among a set of targeted topics. The goal of concept mapping is to create an actual map where the concepts are represented as nodes and the relationships between them are represented as lines that link those nodes. In addition, the links are often labeled with descriptions of the relationships between the concepts they join (The SAGE Encyclopedia of Qualitative Research Methods)
        td #[a(href="https://www.youtube.com/watch?v=sZJj6DwCqSU") How to Create a Concept Map (video)]
    br
  button(class='collapsible') Photography ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the art or practice of taking and processing photographs (Google)
        td #[a(href="https://brbl-dl.library.yale.edu/vufind/") Beinecke Digital Collections]
  br
  button(class='collapsible') Scanning ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td a function that digitizes printed documents and pictures and sends the files to your computer or outputs a duplicate copy of the items via the printer (AZ Central)
        td #[a(href="https://digitalhumanities.berkeley.edu/resources/digitization-workflows-scanning-ocr-and-audio-transcription") Digitization Workflows: Scanning, OCR, and Audio Transcription]
  br
  button(class='collapsible') Searching ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td thoroughly scrutinizing, especially in a disconcerting way (Google)
        td #[a(href="https://acrl.libguides.com/framework/toolkit") ACRL Framework for Information Literacy Toolkit]
  br
  button(class='collapsible') Brainstorming ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td A method of problem solving that involves getting together a group of five to ten persons to consider a problem. The participants are to suggest whatever idea pops into their heads, no matter how weird, in the hope that a creative solution will be found (Dictionary of Statistics & Methodology)
        td #[a(href="https://sites.tufts.edu/digitalhumanities/brainstorming-your-project/") Brainstorming Your Project – DH at Tufts]
  br
  button(class='collapsible') Browsing ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td Browsing is the act of looking through a set of information quickly, without a specific sense of purpose. In the context of the internet, it usually refers to using the world wide web. The term may imply a sense of aimlessness, with the user just wasting time on the internet (Technopedia)
        td #[a(href="http://journalofdigitalhumanities.org/1-1/getting-started-in-digital-humanities-by-lisa-spiro/") Getting Started in Digital Humanities]
  br
  button(class='collapsible') Debugging ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the process of identifying and removing errors from computer hardware or software (Google)
        td #[a(href="http://journalofdigitalhumanities.org/1-1/getting-started-in-digital-humanities-by-lisa-spiro/") Getting Started in Digital Humanities]


  h3 Methods of Dissemination
  button(class='collapsible') Gamification ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the application of typical elements of game playing (e.g. point scoring, competition with others, rules of play) to other areas of activity, typically as an online marketing technique to encourage engagement with a product or service (Google)
        td #[a(href="https://read.dukeupress.edu/differences/article-abstract/25/1/189/60702/Gaming-the-Humanities") Gaming the Humanities]
  br
  button(class='collapsible') Crowdsourcing ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the practice of obtaining information or input into a task or project by enlisting the services of a large number of people, either paid or unpaid, typically via the Internet (Google)
        td #[a(href="https://mw2013.museumsandtheweb.com/paper/digital-humanities-and-crowdsourcing-an-exploration-4/") Digital Humanities and Crowdsourcing: An Exploration]
  br
  button(class='collapsible') Publishing Linked Open Data ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td Linked Data lies at the heart of what Semantic Web is all about: large scale integration of, and reasoning on, data on the Web.  (W3.org)
        td #[a(href="https://wiki.dbpedia.org/") DBPedia]

  h3 Would be enriched if annotated
  button(class='collapsible') Georeferencing ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the process of assigning real-world coordinates to each pixel of the raster. Many times these coordinates are obtained by doing field surveys - collecting coordinates with a GPS device for few easily identifiable features in the image or map. (QGIS Tutorials and Tips)
        td #[a(href="http://www.hipkiss.org/data/maps.html") Hipkiss Scanned Old Maps]

  button(class='collapsible') Linked Open Data ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td Linked Data lies at the heart of what Semantic Web is all about: large scale integration of, and reasoning on, data on the Web.  (W3.org)
        td #[a(href="https://wiki.dbpedia.org/") DBPedia]

  button(class='collapsible') Named Entity Recognition ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td also known as entity extraction classifies named entities that are present in a text into pre-defined categories like “individuals”, “companies”, “places”, “organization”, “cities”, “dates”, “product terminologies” etc. It adds a wealth of semantic knowledge to your content and helps you to promptly understand the subject of any given text. (Medium)
        td #[a(href="https://www.paralleldots.com/named-entity-recognition/") Paralell Dots]

  h3 Analysis (Structural, Stylistic, and/or Content)
  button(class='collapsible') Information Retrieval ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the tracing and recovery of specific information from stored data.(Google)
        td #[a(href="https://dl.acm.org/citation.cfm?id=2797067") Combining Advanced Information Retrieval and Text-Mining for Digital Humanities]

  button(class='collapsible') Machine Learning ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td a method of data analysis that automates analytical model building. It is a branch of artificial intelligence based on the idea that systems can learn from data, identify patterns and make decisions with minimal human intervention. (SAS)
        td #[a(href="http://www.canssi.ca/event/introduction-to-machine-learning-in-the-digital-humanities-2/") Introduction to Machine Learning in the Digital Humanities]

  button(class='collapsible') Named Entity Recognition ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td also known as entity extraction classifies named entities that are present in a text into pre-defined categories like “individuals”, “companies”, “places”, “organization”, “cities”, “dates”, “product terminologies” etc. It adds a wealth of semantic knowledge to your content and helps you to promptly understand the subject of any given text. (Medium)
        td #[a(href="https://www.paralleldots.com/named-entity-recognition/") Paralell Dots]

  button(class='collapsible') POS-Tagging ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td A Part-Of-Speech Tagger (POS Tagger) is a piece of software that reads text in some language and assigns parts of speech to each word (and other token), such as noun, verb, adjective, etc., although generally computational applications use more fine-grained POS tags like 'noun-plural'. (Stanford Natural Language Processing Group)
        td #[a(href="https://medium.freecodecamp.org/an-introduction-to-part-of-speech-tagging-and-the-hidden-markov-model-953d45338f24") An introduction to part-of-speech tagging and the Hidden Markov Model]

  button(class='collapsible') Principal Component Analysis ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td Principal component analysis (PCA) is a technique used to emphasize variation and bring out strong patterns in a dataset. It's often used to make data easy to explore and visualize. (Setsoa.io)
        td #[a(href="http://setosa.io/ev/principal-component-analysis/") Principal Component Analysis Explained Visually]

  button(class='collapsible') Sentiment Analysis ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the automated process of understanding an opinion about a given subject from written or spoken language. (MonkeyLearn.com)
        td #[a(href="https://towardsdatascience.com/sentiment-analysis-concept-analysis-and-applications-6c94d6f58c17") Sentiment Analysis: Concept, Analysis and Applications]


  button(class='collapsible') Cluster Analysis ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the task of grouping a set of objects in such a way that objects in the same group (called a cluster) are more similar (in some sense) to each other than to those in other groups (clusters). (Wikipedia)
        td #[a(href="https://www.thoughtco.com/cluster-analysis-3026694") Cluster Analysis and How Its Used in Research]

  button(class='collapsible') Collocation Analysis ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td a collocation is a sequence of words or terms that co-occur more often than would be expected by chance. (Wikipedia)
        td #[a(href="https://journals.sagepub.com/doi/10.1177/146879410200200206") Collocation analysis: a method for conceptualizing and understanding narrative data]

  button(class='collapsible') Concordancing ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td A concordancer allows us to search a corpus and retrieve from it a specific sequence of characters of any length — perhaps a word, part of a word, or a phrase. (Lancaster University)
        td #[a(href="https://ota.ox.ac.uk/documents/searching/handbook.html") Searching and Concordancing]

  button(class='collapsible') Distance Measures ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td The classification of observations into groups requires some methods for computing the distance or the (dis)similarity between each pair of observations. The result of this computation is known as a dissimilarity or distance matrix. (Datanovia)
        td #[a(href="https://www.datanovia.com/en/lessons/clustering-distance-measures/") Clustering Distance Measures]



  h3 Storage & Preservation

  button(class='collapsible') Migration ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td the transferring of data to newer system environments. This may include conversion of resources from one file format to another (e.g., conversion of Microsoft Word to PDF or OpenDocument) or from one operating system to another (e.g., Windows to Linux) so the resource remains fully accessible and functional. (Wikipedia)
        td #[a(href="https://libguides.bodleian.ox.ac.uk/digitalpreservation/migration") Introduction to Digital Preservation: Migration]

  button(class='collapsible') Preservation Metadata ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td  is an essential component of most digital preservation strategies. As an increasing proportion of the world’s information output shifts from analog to digital form, it is necessary to develop new strategies to preserve this information for the long-term. Preservation metadata is information that supports and documents the digital preservation process. Preservation metadata is sometimes considered a subset of technical or administrative metadata. (Wikipedia)
        td #[a(href="https://www.loc.gov/standards/premis/FE_Dappert_Enders_MetadataStds_isqv22no2.pdf") Digital Preservation Metadata Standards]

  button(class='collapsible') Technology Preservation ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td  is based on preserving the technical environment that runs the system, including software and hardware such as operating systems, original application software, media drives, etc. (Cornell)
        td #[a(href="https://mediaarchaeologylab.com/") Media Archaeology Lab]

  button(class='collapsible') Versioning ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
       td Whenever releasing a product or app, you’ll want to version it. This helps users understand what stage the app is at and also helps when integrating the app into package managers. In Software Development, we version apps by following Semantic Versioning, which is a general template that everyone uses and understands. Why bother? Versioning our apps helps us keep track of what’s been added/removed at what point. It can get real hectic, real fast, especially in the early stages when you’re releasing new features and fixing bugs. You’re gonna want to reference things that have been added or things that have been fixed. (Medium - A brief guide to Semantic Versioning)
        td #[a(href="https://github.com/") Github]

  button(class='collapsible') Bitstream Preservation ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td ore commonly known as "backing up your data," and refers to the process of making an exact duplicate of a digital object. Though a necessary component of all digital preservation strategies, bitstream copying in itself is not a long-term maintenance technique, since it deals only with the question of data loss due to hardware and media failure, whether resulting from normal malfunction and decay, malicious destruction or natural disaster. Bitstream copying is often combined with remote storage so that the original and the copy are not subject to the same disastrous event. Bitstream copying should be considered the minimum maintenance strategy for even the most lightly valued, ephemeral data. (dpworkshop.org)
        td #[a(href="https://www.dpconline.org/docs/miscellaneous/training/1719-mp-policy/file") Writing a Digital Preservation Policy]

  button(class='collapsible') Emulation ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td An "emulator" is a software which mimics the behaviour of another computer environment. It is used in digital preservation to access software and digital files which require obsolete technological environments to run. (Oxford Libguides)
        td #[a(href="http://www.dlib.org/dlib/october00/granger/10granger.html") Emulation as a Digital Preservation Strategy]

  button(class='collapsible') Open Archival Information Systems ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td The classification of observations into groups requires some methods for computing the distance or the (dis)similarity between each pair of observations. The result of this computation is known as a dissimilarity or distance matrix. (Datanovia)
        td #[a(href="https://www.datanovia.com/en/lessons/clustering-distance-measures/") Clustering Distance Measures]

  button(class='collapsible') Replication ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td The classification of observations into groups requires some methods for computing the distance or the (dis)similarity between each pair of observations. The result of this computation is known as a dissimilarity or distance matrix. (Datanovia)
        td #[a(href="https://www.datanovia.com/en/lessons/clustering-distance-measures/") Clustering Distance Measures]

  button(class='collapsible') Durable Persistent Media ▼
  div(class='technique-table')
    table
      tr
        th Definition
        th Example
      tr
        td The classification of observations into groups requires some methods for computing the distance or the (dis)similarity between each pair of observations. The result of this computation is known as a dissimilarity or distance matrix. (Datanovia)
        td #[a(href="https://www.datanovia.com/en/lessons/clustering-distance-measures/") Clustering Distance Measures]

  script(src="./javascripts/collapsible.js")
