extends templates/layout

block content
    p(class='activity-category') Below is a list of objects that can be used in Digital Humanities research. This is not meant to be an exhaustive list, but rather a point of inspiration and brainstorming for your digital humanities projects and thinking. For more information on these items, or what you can do with them, see the sections on #[a(href='/research-activities')  research activities] and #[a(href='/research-techniques')  research techniques.]

    ul
        li Artifacts
        li Bibliographic Listings
        li Code
        li Computers
        li Curricula
        li Digital Humanities
        li Data
        li File
        li 2D Images
        li 3D Images
        li Infrastructure
        li Interaction
        li Language
        li Link
        li Literature
        li Manuscript
        li Map
        li Metadata
        li Methods
        li Multimedia
        li Multimodal
        li Named Entities
        li Persons
        li Projects
        li Research
        li Research Process
        li Research Results
        li Sheet Music
        li Software
        li Sound
        li Standards
        li Text
        li Text Bearing Objects
        li Tools
        li Video
        li Virtual Research Environments (VREs)
