extends templates/layout

block content
  h3 General
  ul
    li Encoding
    li Mapping
    li Photography
    li Scanning
    li Searching
    li Brainstorming
    li Browsing
    li Debugging
  h3 Methods of Dissemination
  ul
    li Gamification
    li Crowdsorucing
    li Publishing Linked Open Data
  h3 Would be enriched if annotated
  ul
    li Georeferencing
    li Linked Open Data
    li Named Entity Recognition
  h3 Analysis (Structural, Stylistic, and/or Content)
  ul
    li Information Retrieval
    li Machine Learning
    li Named Entity Recognition
    li POS-Tagging
    li Principal Component Analysis
    li Sentiment Analysis
    li Sequence Alignment
    li Cluster Analysis
    li Collocation Analysis
    li Concordancing
    li Distance Measures
  h3 Storage & Preservation
  ul
    li Migration
    li Preservation Metadata
    li Technology Preservation
    li Versioning
    li Bit Stream Preservation
    li Emulation
    li Open Archival Information Systems
    li Replication
    li Durable Persistent Media


  include templates/navigation.pug
