extends templates/layout

block content
  ul
    li Artifacts
    li Bibliographic Listings
    li Code
    li Computers
    li Curricula
    li Digital Humanities
    li Data
    li File
    li 2D Images
    li 3D Images
    li Infrastructure
    li Interaction
    li Language
    li Link
    li Literature
    li Manuscript
    li Map
    li Metadata
    li Methods
    li Multimedia
    li Multimodal
    li Named Entities
    li Persons
    li Projects
    li Research
    li Research Process
    li Research Results
    li Sheet Music
    li Software
    li Sound
    li Standards
    li Text
    li Text Bearing Objects
    li Tools
    li Video
    li Virtual Research Environments (VREs)
  include templates/navigation.pug
