extends templates/layout

block content
  ul
    li Avasthi, S. (n.d.). LibGuides: ACRL Framework for Information Literacy Toolkit: Toolkit. Retrieved April 23, 2019, from //acrl.libguides.com/c.php?g=651675&p=4571135
    li Basic Guide to Text Encoding | Center for Digital Research in the Humanities | Nebraska. (n.d.). Retrieved April 23, 2019, from https://cdrh.unl.edu/articles/basicguide
    li Brainstorming. (2005). In W. Vogt, Dictionary of Statistics & Methodology. https://doi.org/10.4135/9781412983907.n212
    li Build software better, together. (n.d.). Retrieved April 24, 2019, from GitHub website: https://github.com
    li Cluster analysis - Wikipedia. (n.d.). Retrieved April 24, 2019, from https://en.wikipedia.org/wiki/Cluster_analysis
    li Collocation. (2019). In Wikipedia. Retrieved from https://en.wikipedia.org/w/index.php?title=Collocation&oldid=885005730
    li Collocation analysis: a method for conceptualizing and understanding narrative data - Robin A. Mello, 2002. (n.d.). Retrieved April 24, 2019, from https://journals.sagepub.com/doi/10.1177/146879410200200206
    li Concept Mapping. (2008). In L. Given, The SAGE Encyclopedia of Qualitative Research Methods. https://doi.org/10.4135/9781412963909.n57
    li Corpus Linguistics: Method, theory and practice. (n.d.). Retrieved April 24, 2019, from http://corpora.lancs.ac.uk/clmtp/2-conc.php
    li crowdsourcing definition - Google Search. (n.d.). Retrieved April 23, 2019, from https://www.google.com/search?q=crowdsourcing+definition&oq=crowdsourcing+de&aqs=chrome.0.0j69i57j0l4.2326j1j4&sourceid=chrome&ie=UTF-8
    li debugging definition - Google Search. (n.d.). Retrieved April 23, 2019, from https://www.google.com/search?q=debugging+definition&oq=debugging+def&aqs=chrome.0.0j69i57j0l4.5355j1j4&sourceid=chrome&ie=UTF-8
    li definition of searching - Google Search. (n.d.). Retrieved April 23, 2019, from https://www.google.com/search?q=definition+of+searching&oq=definition+of+searching&aqs=chrome..69i57j0l5.3740j1j1&sourceid=chrome&ie=UTF-8
    li Digital Imaging Tutorial - Digital Preservation. (n.d.). Retrieved April 24, 2019, from http://preservationtutorial.library.cornell.edu/preservation/preservation-03.html
    li Digital preservation. (2019). In Wikipedia. Retrieved from https://en.wikipedia.org/w/index.php?title=Digital_preservation&oldid=893588165
    li Digital Preservation Strategies | dpworkshop.org. (n.d.). Retrieved April 24, 2019, from https://dpworkshop.org/dpm-eng/terminology/strategies.html
    li Digitization Workflows: Scanning, OCR, and Audio Transcription | Digital Humanities. (n.d.). Retrieved April 23, 2019, from https://digitalhumanities.berkeley.edu/resources/digitization-workflows-scanning-ocr-and-audio-transcription
    li Encoding Definition. (n.d.). Retrieved May 2, 2019, from https://techterms.com/definition/encoding
    li encoding definiton - Google Search. (n.d.). Retrieved April 23, 2019, from https://www.google.com/search?q=encoding+definiton&oq=encoding+definiton&aqs=chrome..69i57j0l5.2489j1j4&sourceid=chrome&ie=UTF-8
    li file.pdf. (n.d.). Retrieved from https://www.dpconline.org/docs/miscellaneous/training/1719-mp-policy/file
    li gamification definition - Google Search. (n.d.). Retrieved April 23, 2019, from https://www.google.com/search?ei=Syu_XJr8KcKOggeOqZDQCQ&q=gamification+definition&oq=gamification+definition&gs_l=psy-ab.3..0i324i70i249j0i7i30l9.3808.3939..4270...0.0..0.96.181.2......0....1..gws-wiz.MEPepp5joBM
    li georeferencing - Google Search. (n.d.). Retrieved April 23, 2019, from https://www.google.com/search?q=georeferencing&oq=georeferencing&aqs=chrome..69i57j0l5.1541j1j1&sourceid=chrome&ie=UTF-8
    li Georeferencing Topo Sheets and Scanned Maps — QGIS Tutorials and Tips. (n.d.). Retrieved April 23, 2019, from https://www.qgistutorials.com/en/docs/georeferencing_basics.html
    li Godayal, D. (2018, June 8). An introduction to part-of-speech tagging and the Hidden Markov Model. Retrieved April 24, 2019, from freeCodeCamp.org website: https://medium.freecodecamp.org/an-introduction-to-part-of-speech-tagging-and-the-hidden-markov-model-953d45338f24
    li Granger, S. (2000). Emulation as a Digital Preservation Strategy. D-Lib Magazine, 6(10). https://doi.org/10.1045/october2000-granger
    li Hamann, J. (2018, March 21). A brief guide to Semantic Versioning. Retrieved April 24, 2019, from James Hamann website: https://medium.com/@jameshamann/a-brief-guide-to-semantic-versioning-c6055d87c90e
    li Illing, S. (2018, April 3). How search engines are making us more racist. Retrieved April 17, 2019, from Vox website: https://www.vox.com/2018/4/3/17168256/google-racism-algorithms-technology
    li information retrieval definition - Google Search. (n.d.). Retrieved April 24, 2019, from https://www.google.com/search?q=information+retrieval+definition&oq=information+retrieval+definition&aqs=chrome..69i57j0l5.3914j1j1&sourceid=chrome&ie=UTF-8
    li Introduction to Named Entity Recognition – Explore Artificial Intelligence – Medium. (n.d.). Retrieved April 23, 2019, from https://medium.com/explore-artificial-intelligence/introduction-to-named-entity-recognition-eda8c97c2db1
    li Kirschenbaum, M. G. (2009). Done: Finishing Projects in the Digital Humanities. Digital Humanities Quarterly, 003(2).
    li Machine Learning: What it is and why it matters | SAS. (n.d.). Retrieved April 24, 2019, from https://www.sas.com/en_us/insights/analytics/machine-learning.html
    li Mason, S. (n.d.-a). Oxford LibGuides: Introduction to Digital Preservation: Emulation. Retrieved April 24, 2019, from //ox.libguides.com/digitalpreservation/emulation
    li Mason, S. (n.d.-b). Oxford LibGuides: Introduction to Digital Preservation: Migration. Retrieved April 24, 2019, from //ox.libguides.com/digitalpreservation/migration
    li Preservation metadata. (2018). In Wikipedia. Retrieved from https://en.wikipedia.org/w/index.php?title=Preservation_metadata&oldid=837084607
    li Principal Component Analysis explained visually. (n.d.). Retrieved April 24, 2019, from Explained Visually website: http://setosa.io/ev/principal-component-analysis/
    li Sentiment Analysis: nearly everything you need to know | MonkeyLearn. (n.d.). Retrieved April 24, 2019, from https://monkeylearn.com/sentiment-analysis/
    li Spiro, L. (2012, March 10). Getting Started in Digital Humanities. Retrieved April 23, 2019, from Journal of Digital Humanities website: http://journalofdigitalhumanities.org/1-1/getting-started-in-digital-humanities-by-lisa-spiro/
    li TaDiRAH. (2014, July 18). TaDiRAH - Taxonomy of Digital Research Activities in the Humanities. Retrieved April 13, 2019, from http://tadirah.dariah.eu/vocab/index.php
    li Taxonomy of Digital Research Activities in the Humanities: dhtaxonomy/TaDiRAH. (2019). Retrieved from https://github.com/dhtaxonomy/TaDiRAH (Original work published 2014)
    li The Stanford Natural Language Processing Group. (n.d.). Retrieved April 24, 2019, from https://nlp.stanford.edu/software/tagger.html
    li Twitter taught Microsoft’s AI chatbot to be a racist asshole in less than a day - The Verge. (n.d.). Retrieved April 17, 2019, from https://www.theverge.com/2016/3/24/11297050/tay-microsoft-chatbot-racist
    li Unsplash. (n.d.). Pile, vhs, technology and tech | HD photo by Chris Lawton (@chrislawton) on Unsplash. Retrieved May 2, 2019, from https://unsplash.com/photos/Hys5qHaDbZQ
    li What Does “Scan” Mean on a Printer? | Your Business. (n.d.). Retrieved April 23, 2019, from https://yourbusiness.azcentral.com/scan-mean-printer-23932.html
    li What is Browsing? - Definition from Techopedia. (n.d.). Retrieved April 23, 2019, from Techopedia.com website: https://www.techopedia.com/definition/797/browsing
    li Widlocher, A., Bechet, N., Lecarpentier, J.-M., Mathet, Y., & Roger, J. (2015). Combining Advanced Information Retrieval and Text-Mining for Digital Humanities. Proceedings of the 2015 ACM Symposium on Document Engineering, 157–166. https://doi.org/10.1145/2682571.2797067
