div(class='footer')
  table(class='footer-table')
    th
    th
      tr
        td
          a(href='/') Home
        td
          a(href='/resources') Resources
      tr
        td
          a(href='/research-activities') Activities
        td
          a(href='http://tadirah.dariah.eu/vocab/index.php') TaDiRAH Original Website
      tr
        td
          a(href='/research-techniques') Techniques
        td
          a(href='https://github.com/dhtaxonomy/TaDiRAH') TaDiRAH Documentation
      tr
        td
          a(href='/research-objects') Objects
