div(class="site-nav-container")
  a(class='navigation' href='/research-activities') Activities
  a(class='navigation' href='/research-objects') Objects
  a(class='navigation' href='/research-techniques') Techniques
