body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.collapsible {
    background-color: #eeeeee;
    color: #444444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: 1px darkgrey solid;
    font-size: 1.5em;
    margin-top: 0.5em;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.active, .collapsible:focus {
  background-color: #ccc;
}

.technique-table {
    padding: 0 3em;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.activity-table {
    padding: 0 3em;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
