.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background: url(/images/andrew-neel-308138-unsplash.jpg);
  background-size: 100%;
  background-color: rgb(250,228, 216);
}

.home-content {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
  padding: 5em;
}

.title-text {
  position: absolute;
  top: 10px;
  left: 25px;
  font: 30px "Lucida Grande";
  color: white;
}

.details {
  text-align: center;
}

.site-nav {
  position: absolute;
  top: 30px;
  right: 16px;
}

p {
  padding: 10px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #3d49e5;
  text-decoration: none;
}

a:hover {
  color: #989eea;
}

h2 {
  text-align: center;
  padding: 1em;
}

.navigation {
  color: white;
  margin: 0 .618em;
  padding: 0 .618em;
  text-decoration: none;
}

.navigation:hover {
  color: #919191;
}

img {
  width: 100%;
  height: 100%;
}

h3 {
  text-align: center;
}


.collapsible {
    background-color: #eeeeee;
    color: #444444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: 1px darkgrey solid;
    font-size: 1.5em;
    margin-top: 0.5em;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.active, .collapsible:focus {
  background-color: #ccc;
}

.technique-table {
    padding: 0 3em;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.activity-table {
    padding: 0 3em;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
